.inputLabel {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.dateInput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    caret-color: transparent;
}

.dateInputSelected {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    caret-color: transparent;
    outline: 1px solid purple;
    border-color: purple;
    box-shadow: none;
}

.calendarContainer {
    position: absolute;
    z-index: 1;
}

.header {
    background: #c9c9c9;
}

.dateInput:hover .dateInputSelected:hover{
    cursor: pointer;
}

.dateInput:focus {
    outline: none;
}