.cycleBlock {
    display: flex;
    justify-content: space-between;
}

.cycleLeft, .cycleRight {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: none;
    border: none;
}

.yearHeader, .monthHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background: none;
    border: none;
}

.cycleLeft:hover, .cycleRight:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}