.weekdayHeaderBlock {
    text-align: center;
}

.weekdayCell {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: none;
    border: none;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}